@if (isLoadingData) {
<div class="p-5 flex flex-col space-y-4">
  <div
    class="w-[20%] h-3 bg-gradient-to-r to-[#c94b4b] from-orange-500 animate-pulse rounded-md"
  ></div>
  <div class="flex flex-col space-y-1">
    @for (item of [1, 2, 3,4, 7]; track $index) {
    <div
      class="w-full h-1 bg-gradient-to-r to-[#c94b4b] from-orange-500 animate-pulse rounded-md"
    ></div>
    }
  </div>
</div>
} @else {
<div class="p-5 flex flex-col space-y-2">
  <h2 class="uppercase text-2xl font-bold text-balance font-secondary">
    Synposis
  </h2>
  <p>
    {{ synopsis }}
  </p>
</div>
}
