<div class="p-5 flex flex-col space-y-2">
  <h2 class="uppercase text-2xl font-bold text-balance font-secondary">
    Casts
  </h2>
  <div class="mt-4">
    <div class="relative">
      <div
        class="absolute bg-gradient-to-l from-gray-light dark:from-gray-dark to-transparent h-full right-0 z-20 w-20"
      ></div>
      <div
        class="swiper swiper-initialized swiper-horizontal swiper-pointer-events"
      >
        <div
          class="swiper-wrapper"
          style="transform: translate3d(0px, 0px, 0px)"
        >
          <div
            class="swiper-slide swiper-slide-active"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/135651"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Michael B. Jordan
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Smoke / Stack
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/hz9AOUWZ2zzS0dpPJ1yQv2grA35.jpg"
                    alt="Michael B. Jordan"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide swiper-slide-next"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/4688032"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Miles Caton
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Sammie Moore
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/5uG9uoRn6THwZpEN4EHawdIf9uX.jpg"
                    alt="Miles Caton"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/130640"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Hailee Steinfeld
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Mary
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/tb7zwVSmI2CDLU1Tc39c4ECO3jm.jpg"
                    alt="Hailee Steinfeld"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/134774"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Wunmi Mosaku
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Annie
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/mWDsVCo9sBcekrsjUTsoCFLhtYt.jpg"
                    alt="Wunmi Mosaku"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/85065"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Jack O'Connell
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Remmick
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/tCzR4clrIkbkijuJBYsNoEuwRDa.jpg"
                    alt="Jack O'Connell"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/18792"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Delroy Lindo
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Delta Slim
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/kLwUBBmEIdchrLqwsYzgLB2B6q5.jpg"
                    alt="Delroy Lindo"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/334"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Omar Benson Miller
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Cornbread
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/adlrkEpxDIcpxF7bpzMGErLxeHP.jpg"
                    alt="Omar Benson Miller"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/2455272"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Jayme Lawson
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Pearline
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/ntwbhdUeW8K5KYJENqyiSZcsIj9.jpg"
                    alt="Jayme Lawson"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1321015"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Li Jun Li
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Grace Chow
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/ztkl70rWIUM6hDpyFxn0B5GXBA3.jpg"
                    alt="Li Jun Li"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/3495960"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Yao
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Bo Chow
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/hRMKy14F6zvDnwM3nRGOCVMTDmQ.jpg"
                    alt="Yao"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1345418"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Lola Kirke
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Joan
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/xXEBb9OoET7SgtkSmh1XtMs5YKC.jpg"
                    alt="Lola Kirke"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1805225"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Peter Dreimanis
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Bert
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/lMqeuP0G9Gqvei6eJ65xabNkz5Y.jpg"
                    alt="Peter Dreimanis"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/53399"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Buddy Guy
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Old Sammie
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/9J2mWgbZ39QCRASLKtiTeQV23Wr.jpg"
                    alt="Buddy Guy"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1985"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Saul Williams
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Jedidiah
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/5VQZl7h6jVyx6hSttUZwtYBVrYy.jpg"
                    alt="Saul Williams"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1650191"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Andrene Ward-Hammond
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Ruthie
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/w47gGojio6d18H52DZqamcNA0bL.jpg"
                    alt="Andrene Ward-Hammond"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1292493"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Tenaj L. Jackson
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Beatrice
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="/img/mesh.png"
                    alt="Tenaj L. Jackson"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1327175"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      David Maldonado
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Hogwood
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/lv2a22R5xg5E6MAToTonwfWPQNA.jpg"
                    alt="David Maldonado"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/4071279"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Aadyn Encalarde
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Teenager
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/3OecZueI5qEN3XQMmAr8xpQ850j.jpg"
                    alt="Aadyn Encalarde"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/5380369"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Helena Hu
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Lisa Chow
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="/img/mesh.png"
                    alt="Helena Hu"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1411644"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Sam Malone
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Terry
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/xr4f2uA0OJrb7DIS74XHD6yn3im.jpg"
                    alt="Sam Malone"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/3513744"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Ja'Quan Monroe-Henderson
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Second Thief
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/sQqkVUIyfu0lpr6XTvNNPsYkLGW.jpg"
                    alt="Ja'Quan Monroe-Henderson"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/2300625"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Percy Bell
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Incarcerated Worker #1 / Smoke &amp; Stack Body Double
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/izt1F4xiZGQD49esXgJDGA1qJ2K.jpg"
                    alt="Percy Bell"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/4461076"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Emonie Ellison
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Therise
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="/img/mesh.png"
                    alt="Emonie Ellison"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/3475232"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Kai Thompson
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Young Girl in Annie's Shop
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="/img/mesh.png"
                    alt="Kai Thompson"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/60722"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Nathaniel Arcand
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Chayton
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/zGi472JSPXlY71ocGh8PQOn5Ag6.jpg"
                    alt="Nathaniel Arcand"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/5384801"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Mark L. Patrick
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Mississippi Choctaw Horseback Scout
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="/img/mesh.png"
                    alt="Mark L. Patrick"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/557804"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Gralen Bryant Banks
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Patterson
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/mLxMcf6IoX6e0K1YpERdKY4t0Hc.jpg"
                    alt="Gralen Bryant Banks"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/93131"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Nicoye Banks
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Jacob
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/8apVE7FQVVJ9orCsTJbeIf5vH5F.jpg"
                    alt="Nicoye Banks"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/3158215"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Christian Robinson
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Chris
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/betjEj8OCF66xkf2q6inuH7eGpp.jpg"
                    alt="Christian Robinson"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/4554599"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Justin William Davis
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Jeff
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/no5yrkN4h426uMYEsS4b2LdHSfW.jpg"
                    alt="Justin William Davis"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/29933"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Deneen Tyler
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Partygoer
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/bNe71eFG8nfyH4ip1tvHd3cd5L3.jpg"
                    alt="Deneen Tyler"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/2479478"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Michael A. Newcomer
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Bartender
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/4slhKOHRUKRTTtdlNB0SUcvlhCA.jpg"
                    alt="Michael A. Newcomer"
                  /></div
              ></a>
            </div>
          </div>
          <div
            class="swiper-slide"
            style="width: 209.688px; margin-right: 10px"
          >
            <div>
              <a
                href="/person/1296517"
                class="bg-light dark:bg-gray-dark dark:text-gray-light"
                ><div
                  class="overflow-hidden relative group rounded-lg sm:rounded-xl"
                >
                  <div
                    class="absolute flex flex-col justify-end w-full h-full z-20 text-light"
                  >
                    <div
                      class="font-secondary text-center px-4 font-bold transition-all text-sm sm:text-base"
                    >
                      Theodus Crane
                    </div>
                    <div
                      class="font-secondary text-center pb-4 font-medium transition-all text-xs opacity-50"
                    >
                      Bouncer
                    </div>
                  </div>
                  <div
                    class="bg-gradient-to-t from-dark to-transparent absolute z-10 w-full h-full hover:opacity-0"
                  ></div>
                  <div
                    class="bg-gradient-to-tr from-primary to-primary-light absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
                  ></div>
                  <img
                    class="object-cover object-center w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
                    src="https://image.tmdb.org/t/p/w500/66SvnZSjXRFHCMEEC5X0jvyGBuO.jpg"
                    alt="Theodus Crane"
                  /></div
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
