@if (isLoadingData()) {
<div class="p-5 flex flex-col space-y-4">
  <div
    class="w-[20%] h-3 bg-gradient-to-r to-[#c94b4b] from-orange-500 animate-pulse rounded-md"
  ></div>
  <div class="flex items-center gap-x-1">
    @for (item of [1, 2, 3,4]; track $index) {
    <img
      class="object-cover object-center animate-pulse rounded-md w-full h-36 sm:h-48 group-hover:scale-105 transition-all duration-200"
      [srcset]="defaultImageUrl"
      [alt]="'Loading...'"
      loading="lazy"
    />
    }
  </div>
</div>
} @else {
<div class="px-5 flex flex-col space-y-4">
  <div class="flex flex-col space-y-2">
    <h2 class="uppercase text-2xl font-bold text-balance font-secondary">
      Recommended {{ mediaType === "movie" ? "Movies" : "Tv Shows" }}
    </h2>
    <app-scroll-container>
      @for (recommendation of recommendations(); track $index) {
      <button
        [routerLink]="`/${mediaType}/${recommendation.id}`"
        class="bg-light dark:bg-gray-dark dark:text-gray-light flex-shrink-0 mr-2"
      >
        <div class="overflow-hidden relative group rounded-lg sm:rounded-xl">
          <div
            class="absolute flex flex-col justify-between w-full h-full z-20 text-light"
          >
            <div class="p-6">
              <div class="text-xs flex select-none">
                <div
                  class="flex space-x-0.5 px-1.5 py-1 bg-[#4b134f] text-white rounded-xl font-medium"
                >
                  <svg
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="100%"
                    height="100%"
                    class="w-3"
                  >
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    ></path>
                  </svg>
                  <div>{{ recommendation.vote_average.toFixed(0) }}/10</div>
                </div>
              </div>
            </div>
            <div class="p-6 flex flex-col space-y-1">
              <div class="sm:text-lg font-secondary font-bold transition-all">
                {{
                  mediaType === "movie"
                    ? recommendation.title
                    : recommendation.name
                }}
              </div>
              <div class="text-xs">
                {{
                  (recommendation.release_date &&
                    onFormatReleaseDate(recommendation.release_date)) ||
                    (recommendation.first_air_date &&
                      onFormatReleaseDate(recommendation.first_air_date))
                }}
              </div>
            </div>
          </div>
          <div
            class="bg-gradient-to-t from-[#4b134f] to-transparent absolute z-10 w-full h-full hover:opacity-0"
          ></div>
          <div
            class="bg-gradient-to-tr from-orange-600 to-orange-400 absolute z-10 w-full h-full opacity-0 group-hover:opacity-50 transition-all duration-500 ease-out"
          ></div>

          @if (recommendation.backdrop_path) {
          <img
            class="object-cover object-bottom w-full h-56 sm:h-48 group-hover:scale-105 transition-all duration-200"
            [srcset]="`${imageUrl}${recommendation.backdrop_path || recommendation.poster_path}`"
            [alt]="
              mediaType === 'movie' ? recommendation.title : recommendation.name
            "
            loading="lazy"
          />
          } @else {
          <img
            class="object-cover object-bottom w-[20rem] h-56 sm:h-48 group-hover:scale-105 transition-all duration-200"
            [srcset]="defaultImageUrl"
            [alt]="
              mediaType === 'movie' ? recommendation.title : recommendation.name
            "
            loading="lazy"
          />
          }
        </div>
      </button>
      } @empty {
      <p>
        There aren't any recommended
        {{ mediaType === "movie" ? "Movies" : "Tv Shows" }} yet.
      </p>
      }
    </app-scroll-container>
  </div>
</div>
}
