@import "tailwindcss";

@theme {
  --font-sans: "Sora", sans-serif;
  --font-rubik: "Rubik Gemstones", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply bg-gradient-to-r from-[#c94b4b] to-[#4b134f];
}
