@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Sora", sans-serif;
  --font-rubik: "Rubik Gemstones", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
